p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.description {
  color: rgb(160, 160, 160);
}

.box {
  background-color: rgb(33, 33, 33);
  width: 360px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}