.flexbox {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.lightcoral {
  background-color: lightcoral;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.item1 {
  background-color: black;
  color:white;
}

.lightblue {
  background-color: lightblue;
  flex: 1;
}