p {
  font-family: arial;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.new-text {
  color: rgb(245, 99, 0);
  margin-bottom: 10px;
}

.title-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.description-text {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 10px;
}

.price-text {
  margin-bottom: 25px;
}

.buy{
  background-color: rgb(0, 113, 227);
  color: white;
  font-weight: bold;
  padding-top: 7px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-left: 15px;
  border-radius: 30px;
  cursor: pointer;
}